@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Source+Sans+Pro&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #242424;
    font-family: 'PT Sans', sans-serif;
}

li, a { 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color:white;
}

header { 
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 20px;
}


.introduction h1, h2 {
    color:white;
    text-align:center;
    line-height: 1.6;
    float:right;
    width:calc(100% - 400px - 10px); /* ensures the image is side by side with the text*/
}
.introduction p{
    color:white;
    text-align:center;
    font-size:20px;
    line-height:1.6;
}
.introduction img{
    float:right;
    width: 400px;
    margin-right:10px;
}
.about-title {
    color:white;
    text-align:center;
}
.collapsible {
    background-color: #383838;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
.active, .collapsible:hover {
    background-color: #4B4B4B;
  }
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #666666;
    
  }
.history {
    background-color: #666666;
    font-size: 18px;
    line-height:1.5;
    text-align: left;
    list-style-position: inside;
}

.sublist {
    text-indent: 15px;
    background-color: #666666;
    text-align: left;
    list-style-position: inside;
    font-size: 18px;
    
}

.portfolio-title {
    color:white;
}

div.portfolio-gallery {
    margin: 5px;
    border: 1px solid #4B4B4B;
    float: left;
    width: 180px;
  }
  
  div.portfolio-gallery:hover {
    border: 1px solid #666666;
  }
  
  div.portfolio-gallery img {
    width: 100%;
    height: auto;
  }
  
  div.portfolio-desc {
    padding: 15px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    background-color:#383838;
  }

