@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:ital@1&family=Source+Sans+Pro&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #242424;
    font-family: 'PT Sans', sans-serif;
}

li, a {  /*navigation bar*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color:white;
}

header { 
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0px 20px;
}


.introduction h1, h2 {
    color:white;
    text-align:center;
    float:right;
    width:calc(100% - 400px - 10px); /* ensures the image is side by side with the text*/
}

.fullname{
  font-size:80px;
  line-height: 1.5;
}
.studentof{
  font-size:35px;
  line-height: 1.2;
}
.course{
  font-size:45px;
  line-height: 1.2;
}
.school{
  font-size:55px;
  line-height: 1.2;
}

.quote{
  text-align:center;
  color:white;
  font-family: 'Playfair Display', serif;
}

.introduction p{
    color:white;
    text-align:left;
    font-size:20px;
    line-height:1.6;
}
.introduction img{
    float:right;
    width: 400px;
    margin-right:10px;
}
.about-title {
    color:white;
    text-align:center;
}
.collapsible {
    background-color: #383838;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
.active, .collapsible:hover {
    background-color: #4B4B4B;
  }
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #666666;
    
  }
.history {
    background-color: #666666;
    font-size: 18px;
    line-height:1.5;
    text-align: left;
    list-style-position: inside;
}

.sublist {
    text-indent: 15px;
    background-color: #666666;
    text-align: left;
    list-style-position: inside;
    font-size: 18px;
    
}

.portfolio-title {
    color:white;
}

div.portfolio-gallery {
    margin: 5px;
    border: 1px solid #4B4B4B;
    float: left;
    width: 180px;
  }
  
  div.portfolio-gallery:hover {
    border: 1px solid #666666;
  }
  
  div.portfolio-gallery img {
    width: 100%;
    height: auto;
  }
  
  div.portfolio-desc {
    padding: 15px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    background-color:#383838;
  }

.contact-title
{
    color:white;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color:white;
}


.container {
  border-radius: 5px;
  padding: 20px;
  color:white;
}


.button {
  background-color: #5a5a5a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
}

.contact-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
